.product-img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 20px;
}

.product-info {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  figure {
    margin: 0;

    figure img {
      width: 32px;
      height: 32px;
    }
  }

  div p {
    &:nth-child(1) {
      font-weight: bold;
      font-size: var(--md);
      margin: 0;
      margin-bottom: 4px;
    }

    &:nth-child(2) {
      font-size: var(--sm);
      margin: 0;
      color: var(--dark-gray);
    }
  }
}
