:root {
  --white: white;
  --black: black;
  --dark-blue: #14274e;
  --light-blue: #394867;
  --light-gray: hsl(202, 40%, 96%);
  --dark-gray: hsl(218, 14%, 66%);
  --text-input-field: hsl(218, 6%, 90%);

  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
