.new-password {
  flex-grow: 1;
  padding: 16px;
  display: grid;
  place-items: center;

  .title {
    margin-bottom: 12px;
  }

  .subtitle {
    margin-bottom: 32px;
  }
}

.container {
  max-width: 300px;
}

.new-password-logo {
  display: none;
  margin-bottom: 48px;
  text-align: center;

  img {
    width: 150px;
  }

  @media (max-width: 640px) {
    display: block;
  }
}

.form-group {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}

.input {
  font-size: var(--md);
  background-color: var(--text-input-field);
  height: 32px;
  border: none;
  border-radius: 8px;
  padding: 6px;
}

.primary-button {
  font-size: var(--md);
  font-weight: bold;
  background-color: var(--dark-blue);
  color: var(--white);
  height: 48px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .logo {
    display: block;
  }
}
